$admin-primary-color: #17a2b8;
$secondary-color: #c19118;
$white: white;
// $secondary-color: #e4c98494;

// $primary-linear: linear-gradient(-45deg, #0e0e0e, #2d282a, #133642, #000000);

// $primary-linear: linear-gradient(-45deg, #000000, #133642,#353126e8, #133642, #000000);
// $secondary-linear: linear-gradient(-45deg, #000000, #c19118,#353126e8, #997928, #000000);
