@import "./assets/scss/variables.scss";
@import "./assets/scss/grid.scss";
@import "./assets/scss/loader.scss";
@import "./assets/scss/form.scss";
@import "./assets/scss/navigation.scss";
@import "./assets/scss/movie-card.scss";
@import "./assets/scss/orders.scss";
@import "./assets/scss/custom.scss";

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: black;
}
